.img-gallery {
  max-width: 200px;
  max-height: 200px;
}

.modal-body {
  text-align: center;
}

.img-inspect {
  width: auto;
}

.file-input {
  display: none;
}
.drop-zone {
  border: dotted 3px lightgray;
  text-align: center;
}
.drop-zone:hover {
  background-color: #ebebeb;
}
.nv-file-over { /* Default class applied to drop zones on over */
  border: dotted 3px red;
}

.img-gallery-wrapper {
  position: relative;
  width: auto;
}
.img-delete {
  position: absolute;
  top: 10px;
  right: 25px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
