<div class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>FlagFriends</span></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li [class.active]="isActiveRoute('/')">
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li [class.active]="isActiveRoute('/contact')">
          <a routerLink="/contact">Contact</a>
        </li>
        <li [class.active]="isActiveRoute('/register')">
          <a routerLink="/register">Register</a>
        </li>
        <li [class.active]="isActiveRoute('/login')" *ngIf="!isLoggedIn()">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn()">
          Loggedin
        </li>
      </ul>
    </div>
  </div>
</div>
