<div class="chat-window">
  <div class="panel panel-primary">
    <div class="panel-heading" [@chatState]="chatState" (@chatState.done)="animationDone($event)">
      <span class="glyphicon glyphicon-comment"></span>
      &nbsp;<span class="clickable" [routerLink]="['/user-profile', chat.UserId]" >{{Displayname}}</span>
      <span class="pull-right clickable">
        <span *ngIf="!collapsed" (click)="toggleCollapse()" class="glyphicon glyphicon-chevron-down" aria-hidden="true">

        </span>
        <span *ngIf="collapsed" (click)="toggleCollapse()" class="glyphicon glyphicon-chevron-up" aria-hidden="true">

        </span>
        <span (click)="close()" class="glyphicon glyphicon-remove" aria-hidden="true">

        </span>
      </span>
    </div>
    <div class="panel-body" *ngIf="!collapsed" #body>
      <ul class="chat">
        <ng-container *ngFor="let message of messages">
          <app-chat-message [message] = "message"></app-chat-message>
        </ng-container>
        <ng-container *ngIf="messages.length === 0">
          <li class="clearfix">
            <div class="chat-body clearfix empty-chat-body">
              <small class="text-muted">No messages yet, why not send one?</small>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="panel-footer" *ngIf="!collapsed">
      <div class="input-group message-input-group">
        <input type="text" id="message-input" class="form-control" placeholder="Type your message here..." [(ngModel)]="message" (keyup.enter)="sendMessage()"/>
      </div>
    </div>
  </div>
</div>
