<legend>General Information</legend>

<div class="panel panel-default">
  <div class="panel-heading">Note</div>
  <div class="panel-body">
    Please note, we will not sell any of your information, and any information entered here will be stored securely only
    accessible to other users of the system. Contact information such as phone numbers and email addresses will not be
    shared with any user unless both users mutually agree to share such information.
    <br>
    <br>
    After completing this registration form you will need to validate your email by clicking the link contained in the email.
    Your account may also go under review by an administrator before you are allowed to use the application, this is for
    the safety of all our users.
    <br>
    <br>
    Thank you, and enjoy!
  </div>
</div>

<form class="form-horizontal" [formGroup]="userRegistrationForm">
  <div class="form-group required">
    <label class="col-md-2 control-label">Email</label>
    <div class="col-md-9">
      <input formControlName="Email" type="email" class="form-control" placeholder="Email address" required>
      <div [hidden]="userRegistrationForm.controls.Email.valid || userRegistrationForm.controls.Email.pristine" class="alert alert-danger">
        Email Address is required
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">FlagFriends Password</label>
    <div class="col-md-9">
      <input formControlName="Password" type="password" class="form-control" placeholder="Password" required>
      <div [hidden]="userRegistrationForm.controls.Password.valid || userRegistrationForm.controls.Password.pristine" class="alert alert-danger">
        Password is required
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">FlagFriends Password Verify</label>
    <div class="col-md-9">
      <input formControlName="PasswordVerify" type="password" class="form-control" placeholder="Password Verify" required>
      <div [hidden]="userRegistrationForm.controls.PasswordVerify.valid || userRegistrationForm.controls.PasswordVerify.pristine || userRegistrationForm.controls.PasswordVerify.errors.notEquivalent" class="alert alert-danger">
        Password verify is required
      </div>
      <div [hidden]="userRegistrationForm.controls.PasswordVerify.valid || userRegistrationForm.controls.PasswordVerify.pristine || !userRegistrationForm.controls.PasswordVerify.errors.notEquivalent" class="alert alert-danger">
        Passwords do not match
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">Firstname</label>
    <div class="col-md-9">
      <input formControlName="Firstname" class="form-control" tooltip="If signing up as a couple, use both first names separated by an '&'" placement="top" placeholder="Firstname" required>
      <div [hidden]="userRegistrationForm.controls.Firstname.valid || userRegistrationForm.controls.Firstname.pristine" class="alert alert-danger">
        Firstname is required
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">Lastname</label>
    <div class="col-md-9">
      <input formControlName="Lastname" class="form-control" placeholder="Lastname" required>
      <div [hidden]="userRegistrationForm.controls.Lastname.valid || userRegistrationForm.controls.Lastname.pristine" class="alert alert-danger">
        Lastname is required
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">Age</label>
    <div class="col-md-9">
      <input formControlName="Age" type="number" min="18" placeholder="Age" class="form-control" required/>
      <div [hidden]="userRegistrationForm.controls.Age.valid || userRegistrationForm.controls.Age.pristine" class="alert alert-danger">
        Age is required
      </div>
      <div [hidden]="userRegistrationForm.controls.Age.valid || userRegistrationForm.controls.Age.pristine || !userRegistrationForm.controls.Age.errors.notOldEnough" class="alert alert-danger">
        Must be 18 or older
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">Phone</label>
    <div class="col-md-9">
      <input formControlName="Phone" class="form-control" [textMask]="{mask:mask}" placeholder="(555) 555-5555" required>
      <div [hidden]="userRegistrationForm.controls.Phone.valid || userRegistrationForm.controls.Phone.pristine" class="alert alert-danger">
        Phone number is required
      </div>
    </div>
  </div>


  <div class="form-group required">
    <label class="col-md-2 control-label">Gender</label>
    <div class="col-md-9">
      <div class="radio-inline">
        <label><input type="radio" formControlName="Gender" value="MALE">Male</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" formControlName="Gender" value="FEMALE">Female</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" formControlName="Gender" value="OTHER">Other</label>
      </div>
    </div>
  </div>

  <div class="form-group required">
    <label class="col-md-2 control-label">I am a</label>
    <div class="col-md-9">
      <div class="radio-inline">
        <label><input type="radio" formControlName="Type" value="STUDENT">Student/Scholar</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" formControlName="Type" value="HOST">Host</label>
      </div>
    </div>
  </div>

</form>
