/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato|Lato');
@import "bootstrap";

html, body {
  height: 100%;
}

p.chat-message {
  word-wrap: break-word;
}

.clickable {
  cursor: pointer;
}

.carousel-control {
  cursor: pointer;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.required>label:after {
  color: red;
  content: ' *';
}

.img-center {
  margin: auto;
}
