.chat-message-self {
  background-color: #4080ff;
  width: 160px;
  color: white;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
}

.chat-message-other {
  background-color: #f1f0f0;
  width: 160px;
  color: black;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  margin-left: 60px;
  margin-top: 20px;
}

.img-circle {
  width: 50px;
}
