<div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Attribute Type</th>
      <th>For User Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let attribute of attributes">
      <tr>
        <td>{{attribute.Type.Name}}</td>
        <td>
          <span class="label label-default">
            {{attributeService.getAttributeType(attribute)}}
          </span>
        </td>
        <td>
          <span class="label label-default">
            {{attribute.Type.ForType}}
          </span>
        </td>
        <td>
          <span class="glyphicon glyphicon-remove text-danger clickable" (click)="deleteAttribute(attribute)"></span>
          <span class="glyphicon glyphicon-pencil clickable" (click)="editAttribute(attribute)"></span>
        </td>
      </tr>
    </ng-container>

    <tr>
      <td>
        <button class="btn btn-success" (click)="addAttribute()">
          <span class="glyphicon glyphicon-plus"></span>
          Add
        </button>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<div bsModal #attributeEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/Edit Attribute</h4>
        <button type="button" class="close pull-right" (click)="attributeEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingAttribute.Name" name="Name" class="form-control" placeholder="Name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Type</label>
            <div class="col-md-9">
              <select class="form-control" [(ngModel)]="editingAttribute.Type">
                <option value="STRING">Text</option>
                <option value="DATE">Date</option>
                <option value="ENUM">Select</option>
                <option value="RANGE">Number</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Profile Type</label>
            <div class="col-md-9">
              <select class="form-control" [(ngModel)]="editingAttribute.ForType">
                <option value="HOST">Host</option>
                <option value="STUDENT">Student</option>
                <option value="BOTH">Both</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Profile Representation</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingAttribute.Description" name="Description" class="form-control" placeholder="Description" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Question Representation</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingAttribute.Question" name="Question" class="form-control" placeholder="Question" required>
            </div>
          </div>

          <ng-container [ngSwitch]="editingAttribute.Type">
            <ng-container *ngSwitchCase="'STRING'">
              <div class="form-group">
                <label class="col-md-2 control-label">Max Response Length</label>
                <div class="col-md-9">
                  <input [(ngModel)]="editingAttribute.StringMaxLen" type="number" name="StringMaxLen" placeholder="No limit" class="form-control">
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'DATE'">
              <div class="form-group">
                <label class="col-md-2 control-label">Min Date Value</label>
                <div class="col-md-9">
                  <app-date-select [(ngModel)]="editingAttribute.DateMin"></app-date-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Max Date Value</label>
                <div class="col-md-9">
                  <app-date-select [(ngModel)]="editingAttribute.DateMax"></app-date-select>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ENUM'">
              <div class="form-group">
                <label class="col-md-2 control-label">Min Select</label>
                <div class="col-md-9">
                  <input [(ngModel)]="editingAttribute.SelectMin" type="number" name="MinSelect" placeholder="No limit" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Max Select</label>
                <div class="col-md-9">
                  <input [(ngModel)]="editingAttribute.SelectMax" type="number" name="MaxSelect" placeholder="No limit" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Type of Enum</label>
                <div class="col-md-9">
                  <select class="form-control" [(ngModel)]="editingAttribute.SelectType">
                    <option value="DROPDOWN">Drop Down</option>
                    <option value="RADIO">Radio Buttons</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Option</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let option of editingAttribute.EnumOptions">
                      <tr>
                        <td>
                          <input [(ngModel)]="option.Display" name="Option" placeholder="Option" class="form-control">
                        </td>
                        <td>
                          <span class="glyphicon glyphicon-remove text-danger clickable" (click)="deleteEnum(option)"></span>
                        </td>
                      </tr>
                    </ng-container>

                    <tr>
                      <td>
                        <button class="btn btn-success" (click)="addEnumOption()">
                          <span class="glyphicon glyphicon-plus"></span>
                          Add
                        </button>
                      </td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'RANGE'">
              <div class="form-group">
                <label class="col-md-2 control-label">Min Value</label>
                <div class="col-md-9">
                  <input [(ngModel)]="editingAttribute.RangeMin" [type]="editingAttribute.isInt ? 'number' : null" name="Min" placeholder="No limit" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Max Value</label>
                <div class="col-md-9">
                  <input [(ngModel)]="editingAttribute.RangeMax" [type]="editingAttribute.isInt ? 'number' : null" name="Max" placeholder="No limit" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">Whole numbers only?</label>
                <div class="col-md-9">
                  <select class="form-control" [(ngModel)]="editingAttribute.isInt">
                    <option [value]="true">Yes</option>
                    <option [value]="false">No</option>
                  </select>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="modal-footer">

          <div class="form-group">
            <div class="col-md-12">
              <div class="btn-toolbar pull-right">
                <button class="btn btn-primary" (click)="resetEditingAttribute()">Reset</button>
                <button class="btn btn-primary" (click)="attributeEditModal.hide()">Close</button>
                <button class="btn btn-primary" (click)="submitAttribute()">Submit</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
