<ng-container *ngIf="isLoggedInUser()">
  <li class="right clearfix">
    <span class="chat-img pull-right"><img alt="User Avatar" class="img-circle" [src]="profileImage"></span>
    <div class="chat-body clearfix">
      <div class="header">
        <small class=" text-muted">
          <span class="glyphicon glyphicon-time"></span>{{message.ReceivedAt | amTimeAgo}}
        </small>
      </div>
      <p class="chat-message-self">{{message.Message}}</p>
    </div>
  </li>
</ng-container>

<ng-container *ngIf="!isLoggedInUser()">
  <li class="left clearfix">
    <span class="chat-img pull-left"><img alt="User Avatar" class="img-circle" [src]="profileImage"></span>
    <div class="chat-body clearfix">
      <div class="header">
        <small class="pull-right text-muted">
          <span class="glyphicon glyphicon-time"></span>{{message.ReceivedAt | amTimeAgo}}
        </small>
      </div>
      <p class="chat-message-other">{{message.Message}}</p>
    </div>
  </li>
</ng-container>
