
<li class="clearfix" [ngClass]="isLoggedInUser() ? 'left' : 'right'">
  <span class="chat-img" [ngClass]="isLoggedInUser() ? 'pull-left' : 'pull-right'"><img alt="User Avatar" class="img-circle" src="http://placehold.it/50/55C1E7/fff&text=U"></span>
  <div class="chat-body clearfix">
    <div class="header">
      <strong class="primary-font">{{message.User.Firstname}} {{message.User.Lastname}}</strong> <small class="pull-right text-muted" [ngClass]="isLoggedInUser() ? 'pull-right' : 'pull-left'">
      <span class="glyphicon glyphicon-time"></span>{{message.ReceivedAt | amTimeAgo}}</small>
    </div>
    <p>{{message.Message}}</p>
  </div>
</li>
