<ng-container *ngIf="loaded">
  <div class="col-md-12">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" (click)="onSubmitContent()">Submit</button>
      <button *ngIf="!isPreviewing" type="button" class="btn btn-default" (click)="onTogglePreview()">Preview</button>
      <button *ngIf="isPreviewing" type="button" class="btn btn-default" (click)="onTogglePreview()">Edit</button>
    </div>
    <div class="col-md-12 editor">
      <div *ngIf="!isPreviewing">
        <textarea htmlEditor [(ngModel)]="content"></textarea>
      </div>
      <div [innerHTML]="content" *ngIf="isPreviewing"></div>
    </div>
  </div>
</ng-container>
<app-spinner *ngIf="!loaded"></app-spinner>
