.img-gallery {
  max-width: 200px;
  max-height: 200px;
}

.modal-body {
  text-align: center;
}

.img-inspect {
  width: auto;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
.img-gallery-wrapper {
  position: relative;
  width: auto;
}
.img-delete {
  position: absolute;
  top: 10px;
  right: 25px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
