<div class="container">
  <div class="row clearfix well">
    <div class="col-md-2 column">

      <ng-container *ngIf="userPhotos.length == 0">
        <img class="img-thumbnail" [src]="defaultPhotoURL">
      </ng-container>

      <ng-container *ngIf="userPhotos.length > 0">
        <carousel [interval]="false">
          <slide *ngFor="let photo of userPhotos; let i = index;">
            <img (click)="inspectImage(i)" class="img-thumbnail clickable" [src]="photo.URL">
          </slide>
        </carousel>
      </ng-container>

    </div>
    <div class="col-md-8 column">
      <blockquote>
        <p>{{user.Firstname}} {{user.Lastname}}</p><small>{{user.Birthday | age}} / {{user.Gender}} / {{user.Type}} </small>
      </blockquote>
    </div>
    <div class="col-md-2 column">
       <button class="btn btn-default btn-block" type="button" [disabled]="isLoggedInUser">Message</button>
      <button class="btn btn-default btn-block" type="button" [disabled]="isLoggedInUser">Match</button>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div>
        <tabset>
          <tab heading="About">
            <div class="row clearfix">
              <div class="col-md-8 column">
                <ng-container *ngFor="let attribute of stringAttributes">
                  <p><strong>{{attribute.Type.Description}}</strong><br>
                    {{attribute.Value.Value}}</p>
                  <hr>
                </ng-container>
              </div>
              <div class="col-md-4 column">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Details</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Last Online</td>
                    <td>{{user.updatedAt | amTimeAgo}}</td>
                  </tr>
                  <ng-container *ngFor="let attribute of attributes">
                    <tr>
                      <td>{{attribute.Type.Description}}</td>
                      <td>{{attribute.Value.Value}}</td>
                    </tr>
                  </ng-container>
                  <!---
                  <tr>
                    <td>Attribute name</td>
                    <td>Value</td>
                  </tr>
                  -->
                  </tbody>
                </table>
              </div>
            </div>
          </tab>
          <tab heading="Photos">
            <div class="row clearfix">
              <div class="col-md-8">
                <ng-container *ngFor="let photo of userPhotos;let i = index">
                  <div class="col-md-12 img-gallery-wrapper">
                    <img (click)="inspectImage(i)" class="img-gallery clickable" [src]="photo.URL">
                    <span *ngIf="isLoggedInUser" class="img-delete glyphicon glyphicon-trash text-danger clickable" (click)="deleteUserPhoto(photo)"></span>
                  </div>
                </ng-container>
              </div>
              <div class="col-md-4" *ngIf="isLoggedInUser">
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="well my-drop-zone">
                  Drop photo here
                </div>
                <input type="file" ng2FileSelect [uploader]="uploader" />
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div bsModal #inspectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Inspect Image</h4>
        <button type="button" class="close pull-right" (click)="inspectModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <carousel #inspectCarousel [interval]="false">
          <slide *ngFor="let photo of userPhotos">
            <img class="img-thumbnail clickable" [src]="photo.URL">
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
