<div class="container">
  <div class="row clearfix well">
    <div class="col-md-2 column">

      <ng-container *ngIf="userPhotos.length == 0">
        <img class="img-thumbnail" [src]="defaultPhotoURL">
      </ng-container>

      <ng-container *ngIf="userPhotos.length > 0">
        <carousel [interval]="false">
          <slide *ngFor="let photo of userPhotos; let i = index;">
            <img (click)="inspectImage(i)" class="img-thumbnail clickable" [src]="photo.URL">
          </slide>
        </carousel>
      </ng-container>

    </div>
    <div class="col-md-8 column">
      <blockquote>
        <p>{{user.Firstname}} {{user.Lastname}}</p><small>{{user.Birthday | age}} / {{user.Gender}} / {{user.Type}} </small>
      </blockquote>
    </div>
    <div class="col-md-2 column">
      <button class="btn btn-default btn-block" type="button" [disabled]="isLoggedInUser" (click)="startChat()">Message</button>
      <ng-container *ngIf="match != null">
        <ng-container *ngIf="match.HostUserId == userId">
          <button class="btn btn-default btn-block" type="button" *ngIf="match.Status == 'PROPOSED'" [disabled]="isLoggedInUser" (click)="acceptMatch()">Accept Match</button>
          <button class="btn btn-default btn-block" type="button" *ngIf="match.Status == 'PROPOSED'" [disabled]="isLoggedInUser" (click)="rejectMatch()">Reject Match</button>
        </ng-container>
        <ng-container *ngIf="match.HostUserId == loggedInUser.Id">
          <button class="btn btn-default btn-block" type="button" *ngIf="match.Status == 'PROPOSED'" [disabled]="true" (click)="unmatchMatch()">Awaiting Match Response</button>
        </ng-container>
        <button class="btn btn-default btn-block" type="button" *ngIf="match.Status == 'APPROVED'" [disabled]="isLoggedInUser" (click)="unmatchMatch()">Unmatch</button>
      </ng-container>
      <button class="btn btn-default btn-block" type="button" *ngIf="loggedInUser.Type == 'HOST' && (match == null || match.Status == 'REJECTED' || match.Status == 'UNMATCHED')" [disabled]="isLoggedInUser" (click)="proposeMatch()">Propose Match</button>
    </div>
  </div>
  <div class="row clearfix">
    <tabset>
      <tab heading="About">
        <div class="row section">
          <div class="col-md-8">
            <div class="col-md-12">
              <legend>About Me</legend>
            </div>
            <ng-container *ngFor="let attribute of stringAttributes; let last = last;">
              <app-profile-attribute [Attribute]="attribute" [canEdit]="isLoggedInUser" [forUser]="user"></app-profile-attribute>
              <div *ngIf="!last" class="col-md-12">
                <hr>
              </div>
            </ng-container>
          </div>
          <div class="col-md-4 column">

            <div class="col-md-12">
              <legend>Additional Details</legend>
            </div>

            <div class="col-md-12">
              <div class="col-md-6"><b>Last Online</b></div>
              <div class="col-md-6">{{user.updatedAt | amTimeAgo}}</div>
            </div>
            <div class="col-md-12">
              <hr>
            </div>

            <ng-container *ngFor="let attribute of attributes; let last = last;">
              <app-profile-attribute [Attribute]="attribute" [canEdit]="isLoggedInUser" [forUser]="user"></app-profile-attribute>
              <div *ngIf="!last" class="col-md-12">
                <hr>
              </div>
            </ng-container>
          </div>
        </div>
      </tab>
      <tab heading="Photos">
        <div class="row section">
          <div [ngClass]="{'col-md-8': isLoggedInUser, 'col-md-12': !isLoggedInUser}">
            <div class="col-md-12">
              <legend>Photos</legend>
            </div>
            <ng-container *ngFor="let photo of userPhotos;let i = index">
              <div class="col-md-12 img-gallery-wrapper">
                <img (click)="inspectImage(i)" class="img-gallery clickable" [src]="photo.URL">
                <span *ngIf="isLoggedInUser" class="img-delete glyphicon glyphicon-trash text-danger clickable" (click)="deleteUserPhoto(photo)"></span>
              </div>
            </ng-container>
            <div *ngIf="userPhotos.length == 0" class="col-md-12 text-center text-muted">
              <h4>There's nothing here!</h4>
              <h4 *ngIf="isLoggedInUser">Why not upload an awesome photo of yourself?</h4>
            </div>
          </div>
          <div class="col-md-4" *ngIf="isLoggedInUser">
            <div class="col-md-12">
              <legend>Photo Management</legend>
            </div>
            <div class="col-md-12">
              <div ng2FileDrop
                   [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)"
                   [uploader]="uploader"
                   class="well my-drop-zone">
                Drop photo here
              </div>
              <input type="file" ng2FileSelect [uploader]="uploader" />
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<div bsModal #inspectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Inspect Image</h4>
        <button type="button" class="close pull-right" (click)="inspectModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <carousel #inspectCarousel [interval]="false">
          <slide *ngFor="let photo of userPhotos">
            <img class="img-thumbnail clickable" [src]="photo.URL">
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
