.navbar {
  background-color: white;
  border-radius: 0;
}

.btn-profile {
  height: 50px;
  border-radius: 0px;
}

.navbar-container {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0 0 0 25px;
  width: auto;
  display: inline-block;
}

