<div>
  <h3>Users Pending Review</h3>
  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of users">
      <tr>
        <td>
          {{user.Firstname}}
        </td>
        <td>
          {{user.Lastname}}
        </td>
        <td>
          <a [href]="'mailto:'+user.Email">{{user.Email}}</a>
        </td>
        <td>
          {{user.Phone}}
        </td>
        <td>
          <span class="glyphicon glyphicon-user clickable" [routerLink]="['/user-profile', user.Id]" tooltip="View Profile"></span>
          <span class="glyphicon glyphicon-remove text-danger clickable" tooltip="Reject User" (click)="changeStatus(user, 'BANNED')"></span>
          <span class="glyphicon glyphicon-check clickable" tooltip="Approve User" (click)="changeStatus(user, 'ACTIVE')"></span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <ng-container *ngIf="users.length == 0">
    <h4>There are no users to review</h4>
  </ng-container>
</div>


<div>
  <h3>Banned/Rejected Users</h3>
  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of bannedUsers">
      <tr>
        <td>
          {{user.Firstname}}
        </td>
        <td>
          {{user.Lastname}}
        </td>
        <td>
          <a [href]="'mailto:'+user.Email">{{user.Email}}</a>
        </td>
        <td>
          {{user.Phone}}
        </td>
        <td>
          <span class="glyphicon glyphicon-user clickable" [routerLink]="['/user-profile', user.Id]" tooltip="View Profile"></span>
          <span class="glyphicon glyphicon-check clickable" tooltip="Approve user" (click)="changeStatus(user, 'ACTIVE')"></span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <ng-container *ngIf="bannedUsers.length == 0">
    <h4>There are no banned/rejected users at this time</h4>
  </ng-container>
</div>




