<div>
  <h3>Users Pending Review</h3>
  <ng-container *ngIf="users.length == 0">
    <h4>There are no users to review</h4>
  </ng-container>
  <ng-container *ngIf="users.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let user of users">
        <tr>
          <td>
            {{user.Firstname}}
          </td>
          <td>
            {{user.Lastname}}
          </td>
          <td>
            {{user.Email}}
          </td>
          <td>
            {{user.Phone}}
          </td>
          <td>
            <a class="btn btn-default" [routerLink]="['/user-profile', user.Id]">View Profile</a>
          </td>
          <td>
            <span class="glyphicon glyphicon-remove text-danger clickable" tooltip="Reject User" (click)="changeStatus(user, 'BANNED')"></span>
            <span class="glyphicon glyphicon-check clickable" tooltip="Approve User" (click)="changeStatus(user, 'ACTIVE')"></span>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
</div>


<div>
  <h3>Banned Users</h3>
  <ng-container *ngIf="bannedUsers.length == 0">
    <h4>There are no banned users at this time</h4>
  </ng-container>
  <ng-container *ngIf="bannedUsers.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let user of bannedUsers">
        <tr>
          <td>
            {{user.Firstname}}
          </td>
          <td>
            {{user.Lastname}}
          </td>
          <td>
            {{user.Email}}
          </td>
          <td>
            {{user.Phone}}
          </td>
          <td>
            <a class="btn btn-default" [routerLink]="['/user-profile', user.Id]">View Profile</a>
          </td>
          <td>
            <span class="glyphicon glyphicon-check clickable" tooltip="Approve user" (click)="changeStatus(user, 'ACTIVE')"></span>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
</div>

<div bsModal #addWhiteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add email to the Whitelist</h4>
        <button type="button" class="close pull-right" (click)="addWhiteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Profile Representation</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingAttribute.Description" name="WhiteListEmail" class="form-control" placeholder="*@domain.com" required>
            </div>
          </div>
          <div class="btn-toolbar pull-right">
            <button class="btn btn-primary" (click)="addWhiteModal.hide()">Close</button>
            <button class="btn btn-primary" (click)="submitWhiteList()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addBlackModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add email to the Whitelist</h4>
        <button type="button" class="close pull-right" (click)="addBlackModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Profile Representation</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingAttribute.Description" name="BlackListEmail" class="form-control" placeholder="*@domain.com" required>
            </div>
          </div>
          <div class="btn-toolbar pull-right">
            <button class="btn btn-primary" (click)="addBlackModal.hide()">Close</button>
            <button class="btn btn-primary" (click)="submitBlackList()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


