<div class="section">
  <div class="container" *ngIf="!registrationComplete">
    <form class="form-register" >
      <div class="col-md-offset-3 col-md-6">
        <h2 class="form-register-heading">Personal Information</h2>
        <div class="form-group col-lg-12">
          <label>What is your Age?</label>
          <input [(ngModel)]="editingUser.Age" [ngModelOptions]="{standalone: true}" type="age" id="inputAge" class="form-control" placeholder="Age" required="" autofocus="">
        </div>

        <div class="form-group col-lg-6">
          <label>What is your phone number?</label>
          <input [(ngModel)]="editingUser.Phone" [ngModelOptions]="{standalone: true}" type="phone" id="inputPhone" class="form-control" placeholder="Phone" required="">
        </div>

        <div class="form-group col-lg-6">
          <label>Do you have any children? If so what are their name, gender, and age? </label>
          <input [(ngModel)]="editingUser.ChildrenName" [ngModelOptions]="{standalone: true}" type="childrenname" id="inputChildrenName" class="form-control" placeholder="ChildrenName" >
          <input [(ngModel)]="editingUser.ChildrenGender" [ngModelOptions]="{standalone: true}" type="childrengender" id="inputChildrenGender" class="form-control" placeholder="ChildrenGender" >
          <input [(ngModel)]="editingUser.ChildrenAge" [ngModelOptions]="{standalone: true}" type="childrenage" id="inputChildrenAge" class="form-control" placeholder="ChildrenAge" >

        </div>

        <div class="form-group col-lg-6">
          <label>What are your hobbies, interests, or what you like to do for recreation?</label>
          <input [(ngModel)]="editingUser.Hobbies" [ngModelOptions]="{standalone: true}" id="inputHobbies" class="form-control" placeholder="Hobbies" required="" autofocus="">
        </div>

        <div class="form-group col-lg-12">
          <button (click)="onRegister(editingUser)" class="btn btn-lg btn-primary" type="submit">Continue to preferences</button>
        </div>

      </div>

    </form>
  </div>
  <div class="container" *ngIf="registrationComplete">
    <p>Thank you, please continue to preferences!</p>
  </div>
</div>
