<h3>Whitelist</h3>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Date Added</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="whitelist.length == 0">
      <tr>
        <td>None</td>
        <td></td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="whitelist.length > 0">
      <ng-container *ngFor="let item of whitelist">
        <tr>
          <td>{{item.Email}}</td>
          <td>
            <span class="label label-default">
              {{item.createdAt | amDateFormat:'LL'}}
            </span>
          </td>
          <td>
            <span class="glyphicon glyphicon-remove text-danger clickable" (click)="removeFromList(item)"></span>
            <span class="glyphicon glyphicon-pencil clickable" (click)="editItem(item)"></span>
          </td>
        </tr>
      </ng-container>
    </ng-container>

    <tr>
      <td>
        <button class="btn btn-success" (click)="addWhitelist()">
          <span class="glyphicon glyphicon-plus"></span>
          Add
        </button>
      </td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<h3>Blacklist</h3>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Date Added</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="blacklist.length == 0">
      <tr>
        <td>None</td>
        <td></td>
        <td></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="blacklist.length > 0">
      <ng-container *ngFor="let item of blacklist">
        <tr>
          <td>{{item.Email}}</td>
          <td>
            <span class="label label-default">
              {{item.createdAt}}
            </span>
          </td>
          <td>
            <span class="glyphicon glyphicon-remove text-danger clickable" (click)="removeFromList(item)"></span>
            <span class="glyphicon glyphicon-pencil clickable" (click)="editItem(item)"></span>
          </td>
        </tr>
      </ng-container>
    </ng-container>

    <tr>
      <td>
        <button class="btn btn-success" (click)="addBlacklist()">
          <span class="glyphicon glyphicon-plus"></span>
          Add
        </button>
      </td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>


<div bsModal #whitelistEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add email to the Whitelist</h4>
        <button type="button" class="close pull-right" (click)="whitelistEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Profile Representation</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingList.Email" name="WhiteListEmail" class="form-control" placeholder="*@domain.com" required>
            </div>
          </div>
          <div class="btn-toolbar pull-right">
            <button class="btn btn-primary" (click)="whitelistEditModal.hide()">Close</button>
            <button class="btn btn-primary" (click)="submitWhiteList()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #blacklistEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add email to the Whitelist</h4>
        <button type="button" class="close pull-right" (click)="blacklistEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Profile Representation</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingList.Email" name="BlackListEmail" class="form-control" placeholder="*@domain.com" required>
            </div>
          </div>
          <div class="btn-toolbar pull-right">
            <button class="btn btn-primary" (click)="blacklistEditModal.hide()">Close</button>
            <button class="btn btn-primary" (click)="submitBlackList()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
