<div class="container">
  <h4>Reporting</h4>
  <h4>General Statistics</h4>
  <div class="col-md-6">
    <h4>Total Users: 4</h4>
    <h4>Total Students: 3</h4>
    <h4>Total Hosts: 1</h4>
  </div>
  <div class="col-md-6">
    <h4>Total Attributes: 14</h4>
  </div>
  <div class="col-md-12">
    <legend>New Users</legend>
    <div style="display: block;">
      <canvas *ngIf="newUserChartData.length > 0"
              baseChart
              [datasets]="newUserChartData"
              [labels]="newUserLabels"
              [options]="newUserOptions"
              [legend]="newUserLegend"
              [chartType]="newUserType"></canvas>
    </div>
  </div>
  <div class="col-md-12">
    <legend>Total Users</legend>
    <div style="display: block;">
      <canvas *ngIf="usersChartData.length > 0"
              baseChart
              [data]="usersChartData"
              [labels]="usersLabels"
              [chartType]="usersType"></canvas>
    </div>
  </div>
</div>
