.file-input {
  display: none;
}
.drop-zone {
  border: dotted 3px lightgray;
  text-align: center;
}
.drop-zone:hover {
  background-color: #ebebeb;
}
.nv-file-over { /* Default class applied to drop zones on over */
  border: dotted 3px red;
}
