<div class="col-md-12">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li [class.active]="selectedTab == 0">
        <a class="clickable" (click)="selectTab(0)">Hero Banner</a>
      </li>
      <li [class.active]="selectedTab == 1">
        <a class="clickable" (click)="selectTab(1)">Featured Attribute</a>
      </li>
      <li [class.active]="selectedTab == 5">
        <a class="clickable" (click)="selectTab(5)">Allowed/Banned Lists</a>
      </li>
      <li [class.active]="selectedTab == 2">
        <a class="clickable" (click)="selectTab(2)">Dashboard Content</a>
      </li>
      <li [class.active]="selectedTab == 3">
        <a class="clickable" (click)="selectTab(3)">FAQ Content</a>
      </li>
      <li [class.active]="selectedTab == 4">
        <a class="clickable" (click)="selectTab(4)">Terms of Service Content</a>
      </li>
      <li [class.active]="selectedTab == 6">
        <a class="clickable" (click)="selectTab(6)">Registration Introduction Content</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9" *ngIf="!isLoading()">
    <ng-container [ngSwitch]="selectedTab">
      <ng-container *ngSwitchCase="0">
        <legend>Hero Banner</legend>
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="section">
              <img [src]="bannerURL" class="img-responsive img-center">
            </div>
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well drop-zone clickable"
                 (click)="fileInput.click()">
              <b>Drop image here (or click)</b>
              <input #fileInput class="file-input" type="file" ng2FileSelect [uploader]="uploader"/>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <legend>Featured Attribute</legend>
        <div class="form-group">
          <label for="featured-attribute-sel">Featured Attribute:</label>
          <select [(ngModel)]="featuredAttribute" class="form-control" id="featured-attribute-sel" (change)="onChangeFeaturedAttribute()">
            <ng-container *ngFor="let attribute of attributes">
              <option [value]="attribute.Type.Name">{{attribute.Type.Name}}</option>
            </ng-container>
          </select>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="5">
        <legend>Allowed/Banned Lists</legend>
        <app-lists-editor></app-lists-editor>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <legend>Dashboard Content</legend>
        <app-page-editor ConfigEntry="DashboardContent"></app-page-editor>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <legend>FAQ Content</legend>
        <app-page-editor ConfigEntry="FAQContent"></app-page-editor>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <legend>Terms of Service</legend>
        <app-page-editor ConfigEntry="TOSContent"></app-page-editor>
      </ng-container>
      <ng-container *ngSwitchCase="6">
        <legend>Registration Introduction Content</legend>
        <app-page-editor ConfigEntry="RegistrationIntroductionContent"></app-page-editor>
      </ng-container>
    </ng-container>
  </div>
  <div class="col-md-9" *ngIf="isLoading()">
    <app-spinner></app-spinner>
  </div>
</div>
