<div class="container">
  <div class="col-md-3">
    <div class="col-md-12">
      <accordion>
        <accordion-group #group [isOpen]="true">
          <div accordion-heading>
            Search & Filter
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
          </div>
          <div class="form-group">
            <label for="search">Search:</label>
            <input [(ngModel)]="filter" type="text" class="form-control" id="search" (input)="onFilterChanged()">
          </div>
          <hr/>
          <div class="form-group">
            <label for="results-per-page">Results per page:</label>
              <option [value]="10">10</option>
            <select [(ngModel)]="itemsPerPage" class="form-control" id="results-per-page" (change)="perPageChanged($event)">
              <option [value]="20">20</option>
              <option [value]="30">30</option>
            </select>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="col-md-9">
    <ng-container *ngIf="!isLoading">
      <div class="col-md-12" *ngFor="let user of currentUsers">
        <div class="well well-sm">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <img alt="" class="img-responsive" [src]="user.ProfileImage">
            </div>
            <div class="col-sm-6 col-md-8">
              <div class="row">
                <div class="col-md-7">
                  <h4>{{user.Firstname}} {{user.Lastname}}</h4>
                  <p class="text-muted">{{user.Gender}}, {{user.Age}}</p>
                </div>
                <div class="col-md-5">
                  <div class="pull-right">
                    <a class="btn btn-primary btn-block" [routerLink]="['/user-profile',user.Id]">View Profile</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <p>
                  {{getUserAttributeDisplay(featuredAttribute, user)}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="users.length == 0" class="col-md-12 text-center text-muted">
        <h4>There are no students for you to match with. Try again later!</h4>
      </div>
      <div *ngIf="currentUsers.length == 0 && users.length > 0" class="col-md-12 text-center text-muted">
        <h4>No results for your current filter</h4>
      </div>
    </ng-container>
    <div class="col-md-12" *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="row text-center">
    <pagination [totalItems]="filteredUsers.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
