<div class="container">
  <tabset>
    <tab heading="Attributes" [active]="router.isActive('admin-manage/attributes')" (select)="goTo('admin-manage/attributes')">
    </tab>
    <tab heading="Configuration" [active]="router.isActive('admin-manage/configuration')" (select)="goTo('admin-manage/configuration')">
    </tab>
    <tab heading="Reporting" [active]="router.isActive('admin-manage/reporting')" (select)="goTo('admin-manage/reporting')">
    </tab>
    <tab heading="Review Queue" [active]="router.isActive('admin-manage/review-queue')" (select)="goTo('admin-manage/review-queue')">
    </tab>
    <tab heading="User Manage" [active]="router.isActive('admin-manage/user-manage')" (select)="goTo('admin-manage/user-manage')">
    </tab>
  </tabset>
  <div class="row section">
    <router-outlet></router-outlet>
  </div>
</div>
