<div class="container">
  <tabset>
    <tab heading="Attributes">
      <div class="row section">
        <app-admin-attributes></app-admin-attributes>
      </div>
    </tab>
    <tab heading="Configuration">
      <div class="row section">
        <app-admin-configuration></app-admin-configuration>
      </div>
    </tab>
    <tab heading="Reporting">
      <div class="row section">
        <app-admin-reporting></app-admin-reporting>
      </div>
    </tab>
    <tab heading="Review Queue">
      <div class="row section">
        <app-admin-approval-queue></app-admin-approval-queue>
      </div>
    </tab>
  </tabset>
</div>
