<div class="chat-container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-comment"></span> Chat with<button aria-label="Close" class="close" type="button"><span aria-hidden="true">&times;</span></button>
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
    </div>
    <div class="panel-body">
      <ul class="chat">
        <li class="left clearfix">
          <span class="chat-img pull-left"><img alt="User Avatar" class="img-circle" src="http://placehold.it/50/55C1E7/fff&text=U"></span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>12 mins ago</small>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
          </div>
        </li>
        <li class="right clearfix">
          <span class="chat-img pull-right"><img alt="User Avatar" class="img-circle" src="http://placehold.it/50/FA6F57/fff&text=ME"></span>
          <div class="chat-body clearfix">
            <div class="header">
              <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small> <strong class="pull-right primary-font">Bhaumik Patel</strong>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
          </div>
        </li>
        <ng-container *ngFor="let message of messages">
          <app-chat-message [message] = "message"></app-chat-message>
        </ng-container>
      </ul>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="inputMessage"/>
        <span class="input-group-btn">
          <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage()">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
