<p>Would you prefer to be paired up with:</p>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Type" name="type" value="Family">A family</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Type" name="type" value="married_couple">A married couple</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Type" name="type" value="Single">A single individual</label>
</div>
<p></p>
<div class="form-group col-lg-12">
  <button (click)="onRegister(editingUser)" class="btn btn-lg btn-primary" type="submit">Complete preferences</button>
</div>

