<div class="section">
  <div class="container" *ngIf="!registrationComplete">
    <form class="form-register" >
      <div class="col-md-offset-3 col-md-6">
        <h2 class="form-register-heading">Preferences</h2>
        <div class="form-group col-lg-12">
        <label>Would you prefer to be paired up with:</label>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Family" name="type" value="Family">A family</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Married" name="type" value="married_couple">A married couple</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Single" name="type" value="Single">A single individual</label>
</div>

          <div class="form-group col-lg-12">
            <label>Would you prefer a host that drinks alcohol?</label>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Yes" name="Yes" value="Yes">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.No" name="No" value="No">No</label>
</div>
            <div class="form-group col-lg-12">

<label>Would you prefer a host that smokes?</label>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Yes" name="Yes" value="Yes">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.No" name="No" value="No">No</label>
</div>
              <div class="form-group col-lg-12">
                <button (click)="onRegister(editingUser)" class="btn btn-lg btn-primary" type="submit">Complete preferences</button>
              </div>

            </div>
          </div>

        </div>
    </div>
  </form>
  <div class="container" *ngIf="registrationComplete">
    <label>Thank you!</label>
  </div>

</div>
</div>
