<p>Would you prefer to be paired up with:</p>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Family" name="type" value="Family">A family</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Married" name="type" value="married_couple">A married couple</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Single" name="type" value="Single">A single individual</label>
</div>


<p>Would you prefer a host that drinks alcohol?</p>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Yes" name="Yes" value="Yes">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.No" name="No" value="No">No</label>
</div>

<p>Would you prefer a host that smokes?</p>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.Yes" name="Yes" value="Yes">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" [(ngModel)]="editingUser.No" name="No" value="No">No</label>
</div>

<p></p>
<div class="form-group col-lg-12">
  <button (click)="onRegister(editingUser)" class="btn btn-lg btn-primary" type="submit">Complete preferences</button>
</div>

