<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome to FlagFriends</h2>
        <p>
          The image of the United States that international students take back to their countries may depend largely on their day-to-day experiences outside their academic schedule. At the same time, Americans can broaden their knowledge of other countries by having international friends. Personal encounters between individuals of different nations are important keys to the development of understanding between cultures.
        </p>
        <h2>Get matched</h2>
        <p>
          International students are assigned to a family or single individual of the same sex. The host/student connection may last for a semester or for the whole time the student or professor is studying or working at Northern Arizona University. Many times the friendship lasts for a lifetime.
          <br><br>
          We attempt to match you according to your profession, interests, and hobbies.
        </p>
        <h2>Information for Flagstaff area resident participants</h2>
        <p>
          Most international students at Northern Arizona University are enrolled in graduate or undergraduate degree programs. Some are here as exchange students for an academic semester or two, and others attend the Program in Intensive English.

          When we assign you to an international student, you will receive information about the student and he or she will receive your name. It will be your responsibility to contact the student and introduce yourself.
          At least once a month, you should invite the student to join in activities such as:
        </p>
        <ul>
          <li>
            Family dinners
          </li>
          <li>
            Picnics
          </li>
          <li>
            Holiday celebrations
          </li>
          <li>
            Sports activities
          </li>
          <li>
            Musical events
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
