<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div>
        <tabset>
          <tab heading="Attributes">
            <app-admin-attributes></app-admin-attributes>
          </tab>
          <tab heading="Configuration">
            <app-admin-configuration></app-admin-configuration>
          </tab>
          <tab heading="Reporting">
            <app-admin-reporting></app-admin-reporting>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
