<div class="cover" [style.background-image]="getBanner()">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center cover-box">
        <h1>FlagFriends</h1>
        <p>The Flagstaff International Friendship Program offers community members from Flagstaff and the surrounding areas the opportunity to extend their friendship to international students who are studying at Northern Arizona University.</p>
        <br>
        <br>
        <a class="btn btn-lg btn-default" [routerLink]="['/register']">Join now!</a>
      </div>
    </div>
  </div>
</div>
