<div class="container">
  <div class="row">
    <div class="well">
      <legend class="text-center">Login</legend>
      <form class="form-horizontal">
        <fieldset>

          <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingUser.Email" name="Email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingUser.Password" name="Password" type="password" class="form-control" placeholder="Password" required="">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button (click)="onLogin(editingUser)" class="btn btn-primary" type="submit">Login</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <a class="btn btn-primary 3x pull-left" routerLink="/register">Sign up!</a>
              <div class="text">
                <h4 class="cust-margin">&nbsp;&nbsp;&nbsp;&nbsp;If you don't have an account click here to make one!</h4>
              </div>


            </div>
          </div>

        </fieldset>
        <a (click)="onForgotFassword()">Forgot Password?</a>
      </form>
    </div>
  </div>
</div>
