<div class="container">
  <div class="row">
    <div class="well">
      <legend class="text-center">Login</legend>
      <form class="form-horizontal">
        <fieldset>

          <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingUser.Email"  name="Email" #email="ngModel" type="email" class="form-control" placeholder="Email address" required autofocus="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
              <div [hidden]="email.valid || email.pristine"
                   class="alert alert-danger">
                Email Address is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-9">
              <input [(ngModel)]="editingUser.Password" name="Password" #password="ngModel" type="password" class="form-control" placeholder="Password" required="" minlength="6" maxlength="16">
              <div [hidden]="password.valid || password.pristine"
                   class="alert alert-danger">
                Password is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <div class="btn-toolbar">
                <button (click)="onLogin(editingUser)" class="btn btn-primary" type="submit">Login</button>
              </div>

              <br>
              <a class="clickable" routerLink="/register">Don't have an account? Click here to register!</a>
              <br>
              <a class="clickable" (click)="staticModal.show()">Forgot your password?</a>

            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Forgot Password</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-9">
              <input [(ngModel)]="passwordResetEmail" name="Email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button (click)="staticModal.hide()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)="onForgotPassword()" class="btn btn-primary" type="submit">Reset Password</button>
      </div>
    </div>
  </div>
</div>
